# Build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
/*.sln
/*.vcxproj*
/compile_commands.json

# OS
.DS_Store

# Editors
.vscode/
.idea/
*.log
tests/*.dSYM/
unit_test
fuzz_test
scale_test
*.log
tests/*.dSYM/
unit_test
fuzz_test
scale_test
